.DS_Store

# Docusaurus generated folders
website/translated_docs/
website/build/
website/i18n/

# Yarn build
website/node_modules/

# Generated docs
docs/contributing.md

# We use YARN
website/package-lock.json
/dist
/node_modules
.yarn/
.pnp.*
.pnp.cjs
.DS_Store
packages/.DS_Store
target/
*.buildinfo
**/*.buildinfo
/**/dist
/**/node_modules
**/tsconfig.buildinfo
packages/server/tsconfig.tsbuildinfo
packages/fdc3-common/tsconfig.tsbuildinfo
packages/client/tsconfig.tsbuildinfo
packages/da/tsconfig.tsbuildinfo
packages/testing/tsconfig.tsbuildinfo
**/coverage
.nyc_output
packages/da-server/generated
**/cucumber-report.html
